# dependencies
node_modules/
/node_modules

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Build
dist/
build/

# Coverage reports
coverage/

# Others
*.local
*.pid
*.seed
*.tgz
